@font-face {
    font-family: "Aktiv Grotesk Corp";
    src: url("../fonts/AktivGroteskCorp-Medium.eot");
    src: local("AktivGroteskCorp-Medium"), url("../fonts/AktivGroteskCorp-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AktivGroteskCorp-Medium.woff2") format("woff2"), url("../fonts/AktivGroteskCorp-Medium.woff") format("woff"),
        url("../fonts/AktivGroteskCorp-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Aktiv Grotesk Corp";
    src: url("../fonts/AktivGroteskCorp-Bold.eot");
    src: local("AktivGroteskCorp-Bold"), url("../fonts/AktivGroteskCorp-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AktivGroteskCorp-Bold.woff2") format("woff2"), url("../fonts/AktivGroteskCorp-Bold.woff") format("woff"), url("../fonts/AktivGroteskCorp-Bold.ttf") format("truetype");
    font-weight: bold;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Aktiv Grotesk Corp";
    src: url("../fonts/AktivGroteskCorp-Light.eot");
    src: local("AktivGroteskCorp-Light"), url("../fonts/AktivGroteskCorp-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AktivGroteskCorp-Light.woff2") format("woff2"), url("../fonts/AktivGroteskCorp-Light.woff") format("woff"),
        url("../fonts/AktivGroteskCorp-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Aktiv Grotesk Corp";
    src: url("../fonts/AktivGroteskCorp-Regular.eot");
    src: local("AktivGroteskCorp-Regular"), url("../fonts/AktivGroteskCorp-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AktivGroteskCorp-Regular.woff2") format("woff2"), url("../fonts/AktivGroteskCorp-Regular.woff") format("woff"),
        url("../fonts/AktivGroteskCorp-Regular.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}

/* raleway-700 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/raleway-v28-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/raleway-v28-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/raleway-v28-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/raleway-v28-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/raleway-v28-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/raleway-v28-latin-700.svg#Raleway') format('svg');
    /* Legacy iOS */
}

html {
    scroll-behavior: smooth
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    @charset "UTF-8";
    /*!
     * animate.css -http://daneden.me/animate
     * Version - 3.5.2
     * Licensed under the MIT license - http://opensource.org/licenses/MIT
     *
     * Copyright (c) 2017 Daniel Eden
     */

    .animated {
        animation-duration: 2s;
        animation-fill-mode: both
    }

    .animated.infinite {
        animation-iteration-count: infinite
    }

    .animated.hinge {
        animation-duration: 4s
    }

    .animated.bounceIn,
    .animated.bounceOut,
    .animated.flipOutX,
    .animated.flipOutY {
        animation-duration: .75s
    }

    .animated.zoomIn {
        animation-duration: 4s;
        animation-delay: .3s;
    }

    @keyframes bounce {

        0%,
        20%,
        53%,
        80%,
        to {
            animation-timing-function: cubic-bezier(.215, .61, .355, 1);
            transform: translateZ(0)
        }

        40%,
        43% {
            animation-timing-function: cubic-bezier(.755, .05, .855, .06);
            transform: translate3d(0, -30px, 0)
        }

        70% {
            animation-timing-function: cubic-bezier(.755, .05, .855, .06);
            transform: translate3d(0, -15px, 0)
        }

        90% {
            transform: translate3d(0, -4px, 0)
        }
    }

    .bounce {
        animation-name: bounce;
        transform-origin: center bottom
    }

    @keyframes flash {

        0%,
        50%,
        to {
            opacity: 1
        }

        25%,
        75% {
            opacity: 0
        }
    }

    .flash {
        animation-name: flash
    }

    @keyframes pulse {
        0% {
            transform: scaleX(1)
        }

        50% {
            transform: scale3d(1.05, 1.05, 1.05)
        }

        to {
            transform: scaleX(1)
        }
    }

    .pulse {
        animation-name: pulse
    }

    @keyframes rubberBand {
        0% {
            transform: scaleX(1)
        }

        30% {
            transform: scale3d(1.25, .75, 1)
        }

        40% {
            transform: scale3d(.75, 1.25, 1)
        }

        50% {
            transform: scale3d(1.15, .85, 1)
        }

        65% {
            transform: scale3d(.95, 1.05, 1)
        }

        75% {
            transform: scale3d(1.05, .95, 1)
        }

        to {
            transform: scaleX(1)
        }
    }

    .rubberBand {
        animation-name: rubberBand
    }

    @keyframes shake {

        0%,
        to {
            transform: translateZ(0)
        }

        10%,
        30%,
        50%,
        70%,
        90% {
            transform: translate3d(-10px, 0, 0)
        }

        20%,
        40%,
        60%,
        80% {
            transform: translate3d(10px, 0, 0)
        }
    }

    .shake {
        animation-name: shake
    }

    @keyframes headShake {
        0% {
            transform: translateX(0)
        }

        6.5% {
            transform: translateX(-6px) rotateY(-9deg)
        }

        18.5% {
            transform: translateX(5px) rotateY(7deg)
        }

        31.5% {
            transform: translateX(-3px) rotateY(-5deg)
        }

        43.5% {
            transform: translateX(2px) rotateY(3deg)
        }

        50% {
            transform: translateX(0)
        }
    }

    .headShake {
        animation-timing-function: ease-in-out;
        animation-name: headShake
    }

    @keyframes swing {
        20% {
            transform: rotate(15deg)
        }

        40% {
            transform: rotate(-10deg)
        }

        60% {
            transform: rotate(5deg)
        }

        80% {
            transform: rotate(-5deg)
        }

        to {
            transform: rotate(0deg)
        }
    }

    .swing {
        transform-origin: top center;
        animation-name: swing
    }

    @keyframes tada {
        0% {
            transform: scaleX(1)
        }

        10%,
        20% {
            transform: scale3d(.9, .9, .9) rotate(-3deg)
        }

        30%,
        50%,
        70%,
        90% {
            transform: scale3d(1.1, 1.1, 1.1) rotate(3deg)
        }

        40%,
        60%,
        80% {
            transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg)
        }

        to {
            transform: scaleX(1)
        }
    }

    .tada {
        animation-name: tada
    }

    @keyframes wobble {
        0% {
            transform: none
        }

        15% {
            transform: translate3d(-25%, 0, 0) rotate(-5deg)
        }

        30% {
            transform: translate3d(20%, 0, 0) rotate(3deg)
        }

        45% {
            transform: translate3d(-15%, 0, 0) rotate(-3deg)
        }

        60% {
            transform: translate3d(10%, 0, 0) rotate(2deg)
        }

        75% {
            transform: translate3d(-5%, 0, 0) rotate(-1deg)
        }

        to {
            transform: none
        }
    }

    .wobble {
        animation-name: wobble
    }

    @keyframes jello {

        0%,
        11.1%,
        to {
            transform: none
        }

        22.2% {
            transform: skewX(-12.5deg) skewY(-12.5deg)
        }

        33.3% {
            transform: skewX(6.25deg) skewY(6.25deg)
        }

        44.4% {
            transform: skewX(-3.125deg) skewY(-3.125deg)
        }

        55.5% {
            transform: skewX(1.5625deg) skewY(1.5625deg)
        }

        66.6% {
            transform: skewX(-.78125deg) skewY(-.78125deg)
        }

        77.7% {
            transform: skewX(.390625deg) skewY(.390625deg)
        }

        88.8% {
            transform: skewX(-.1953125deg) skewY(-.1953125deg)
        }
    }

    .jello {
        animation-name: jello;
        transform-origin: center
    }

    @keyframes bounceIn {

        0%,
        20%,
        40%,
        60%,
        80%,
        to {
            animation-timing-function: cubic-bezier(.215, .61, .355, 1)
        }

        0% {
            opacity: 0;
            transform: scale3d(.3, .3, .3)
        }

        20% {
            transform: scale3d(1.1, 1.1, 1.1)
        }

        40% {
            transform: scale3d(.9, .9, .9)
        }

        60% {
            opacity: 1;
            transform: scale3d(1.03, 1.03, 1.03)
        }

        80% {
            transform: scale3d(.97, .97, .97)
        }

        to {
            opacity: 1;
            transform: scaleX(1)
        }
    }

    .bounceIn {
        animation-name: bounceIn
    }

    @keyframes bounceInDown {

        0%,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(.215, .61, .355, 1)
        }

        0% {
            opacity: 0;
            transform: translate3d(0, -3000px, 0)
        }

        60% {
            opacity: 1;
            transform: translate3d(0, 25px, 0)
        }

        75% {
            transform: translate3d(0, -10px, 0)
        }

        90% {
            transform: translate3d(0, 5px, 0)
        }

        to {
            transform: none
        }
    }

    .bounceInDown {
        animation-name: bounceInDown
    }

    @keyframes bounceInLeft {

        0%,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(.215, .61, .355, 1)
        }

        0% {
            opacity: 0;
            transform: translate3d(-3000px, 0, 0)
        }

        60% {
            opacity: 1;
            transform: translate3d(25px, 0, 0)
        }

        75% {
            transform: translate3d(-10px, 0, 0)
        }

        90% {
            transform: translate3d(5px, 0, 0)
        }

        to {
            transform: none
        }
    }

    .bounceInLeft {
        animation-name: bounceInLeft
    }

    @keyframes bounceInRight {

        0%,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(.215, .61, .355, 1)
        }

        0% {
            opacity: 0;
            transform: translate3d(3000px, 0, 0)
        }

        60% {
            opacity: 1;
            transform: translate3d(-25px, 0, 0)
        }

        75% {
            transform: translate3d(10px, 0, 0)
        }

        90% {
            transform: translate3d(-5px, 0, 0)
        }

        to {
            transform: none
        }
    }

    .bounceInRight {
        animation-name: bounceInRight
    }

    @keyframes bounceInUp {

        0%,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(.215, .61, .355, 1)
        }

        0% {
            opacity: 0;
            transform: translate3d(0, 3000px, 0)
        }

        60% {
            opacity: 1;
            transform: translate3d(0, -20px, 0)
        }

        75% {
            transform: translate3d(0, 10px, 0)
        }

        90% {
            transform: translate3d(0, -5px, 0)
        }

        to {
            transform: translateZ(0)
        }
    }

    .bounceInUp {
        animation-name: bounceInUp
    }

    @keyframes bounceOut {
        20% {
            transform: scale3d(.9, .9, .9)
        }

        50%,
        55% {
            opacity: 1;
            transform: scale3d(1.1, 1.1, 1.1)
        }

        to {
            opacity: 0;
            transform: scale3d(.3, .3, .3)
        }
    }

    .bounceOut {
        animation-name: bounceOut
    }

    @keyframes bounceOutDown {
        20% {
            transform: translate3d(0, 10px, 0)
        }

        40%,
        45% {
            opacity: 1;
            transform: translate3d(0, -20px, 0)
        }

        to {
            opacity: 0;
            transform: translate3d(0, 2000px, 0)
        }
    }

    .bounceOutDown {
        animation-name: bounceOutDown
    }

    @keyframes bounceOutLeft {
        20% {
            opacity: 1;
            transform: translate3d(20px, 0, 0)
        }

        to {
            opacity: 0;
            transform: translate3d(-2000px, 0, 0)
        }
    }

    .bounceOutLeft {
        animation-name: bounceOutLeft
    }

    @keyframes bounceOutRight {
        20% {
            opacity: 1;
            transform: translate3d(-20px, 0, 0)
        }

        to {
            opacity: 0;
            transform: translate3d(2000px, 0, 0)
        }
    }

    .bounceOutRight {
        animation-name: bounceOutRight
    }

    @keyframes bounceOutUp {
        20% {
            transform: translate3d(0, -10px, 0)
        }

        40%,
        45% {
            opacity: 1;
            transform: translate3d(0, 20px, 0)
        }

        to {
            opacity: 0;
            transform: translate3d(0, -2000px, 0)
        }
    }

    .bounceOutUp {
        animation-name: bounceOutUp
    }

    @keyframes fadeIn {
        0% {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    .fadeIn {
        animation-name: fadeIn
    }

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            transform: translate3d(0, -100%, 0)
        }

        to {
            opacity: 1;
            transform: none
        }
    }

    .fadeInDown {
        animation-name: fadeInDown
    }

    @keyframes fadeInDownBig {
        0% {
            opacity: 0;
            transform: translate3d(0, -2000px, 0)
        }

        to {
            opacity: 1;
            transform: none
        }
    }

    .fadeInDownBig {
        animation-name: fadeInDownBig
    }

    @keyframes fadeInLeft {
        0% {
            opacity: 0;
            transform: translate3d(-30%, 0, 0)
        }

        to {
            opacity: 1;
            transform: none
        }
    }

    .fadeInLeft {
        animation-name: fadeInLeft
    }

    @keyframes fadeInLeftBig {
        0% {
            opacity: 0;
            transform: translate3d(-2000px, 0, 0)
        }

        to {
            opacity: 1;
            transform: none
        }
    }

    .fadeInLeftBig {
        animation-name: fadeInLeftBig
    }

    @keyframes fadeInRight {
        0% {
            opacity: 0;
            transform: translate3d(30%, 0, 0)
        }

        to {
            opacity: 1;
            transform: none
        }
    }

    .fadeInRight {
        animation-name: fadeInRight
    }

    @keyframes fadeInRightBig {
        0% {
            opacity: 0;
            transform: translate3d(2000px, 0, 0)
        }

        to {
            opacity: 1;
            transform: none
        }
    }

    .fadeInRightBig {
        animation-name: fadeInRightBig
    }

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translate3d(0, 20%, 0)
        }

        to {
            opacity: 1;
            transform: none
        }
    }

    .fadeInUp {
        animation-name: fadeInUp
    }

    @keyframes fadeInUpBig {
        0% {
            opacity: 0;
            transform: translate3d(0, 2000px, 0)
        }

        to {
            opacity: 1;
            transform: none
        }
    }

    .fadeInUpBig {
        animation-name: fadeInUpBig
    }

    @keyframes fadeOut {
        0% {
            opacity: 1
        }

        to {
            opacity: 0
        }
    }

    .fadeOut {
        animation-name: fadeOut
    }

    @keyframes fadeOutDown {
        0% {
            opacity: 1
        }

        to {
            opacity: 0;
            transform: translate3d(0, 100%, 0)
        }
    }

    .fadeOutDown {
        animation-name: fadeOutDown
    }

    @keyframes fadeOutDownBig {
        0% {
            opacity: 1
        }

        to {
            opacity: 0;
            transform: translate3d(0, 2000px, 0)
        }
    }

    .fadeOutDownBig {
        animation-name: fadeOutDownBig
    }

    @keyframes fadeOutLeft {
        0% {
            opacity: 1
        }

        to {
            opacity: 0;
            transform: translate3d(-100%, 0, 0)
        }
    }

    .fadeOutLeft {
        animation-name: fadeOutLeft
    }

    @keyframes fadeOutLeftBig {
        0% {
            opacity: 1
        }

        to {
            opacity: 0;
            transform: translate3d(-2000px, 0, 0)
        }
    }

    .fadeOutLeftBig {
        animation-name: fadeOutLeftBig
    }

    @keyframes fadeOutRight {
        0% {
            opacity: 1
        }

        to {
            opacity: 0;
            transform: translate3d(100%, 0, 0)
        }
    }

    .fadeOutRight {
        animation-name: fadeOutRight
    }

    @keyframes fadeOutRightBig {
        0% {
            opacity: 1
        }

        to {
            opacity: 0;
            transform: translate3d(2000px, 0, 0)
        }
    }

    .fadeOutRightBig {
        animation-name: fadeOutRightBig
    }

    @keyframes fadeOutUp {
        0% {
            opacity: 1
        }

        to {
            opacity: 0;
            transform: translate3d(0, -100%, 0)
        }
    }

    .fadeOutUp {
        animation-name: fadeOutUp
    }

    @keyframes fadeOutUpBig {
        0% {
            opacity: 1
        }

        to {
            opacity: 0;
            transform: translate3d(0, -2000px, 0)
        }
    }

    .fadeOutUpBig {
        animation-name: fadeOutUpBig
    }

    @keyframes flip {
        0% {
            transform: perspective(400px) rotateY(-1turn);
            animation-timing-function: ease-out
        }

        40% {
            transform: perspective(400px) translateZ(150px) rotateY(-190deg);
            animation-timing-function: ease-out
        }

        50% {
            transform: perspective(400px) translateZ(150px) rotateY(-170deg);
            animation-timing-function: ease-in
        }

        80% {
            transform: perspective(400px) scale3d(.95, .95, .95);
            animation-timing-function: ease-in
        }

        to {
            transform: perspective(400px);
            animation-timing-function: ease-in
        }
    }

    .animated.flip {
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
        animation-name: flip
    }

    @keyframes flipInX {
        0% {
            transform: perspective(400px) rotateX(90deg);
            animation-timing-function: ease-in;
            opacity: 0
        }

        40% {
            transform: perspective(400px) rotateX(-20deg);
            animation-timing-function: ease-in
        }

        60% {
            transform: perspective(400px) rotateX(10deg);
            opacity: 1
        }

        80% {
            transform: perspective(400px) rotateX(-5deg)
        }

        to {
            transform: perspective(400px)
        }
    }

    .flipInX {
        -webkit-backface-visibility: visible !important;
        backface-visibility: visible !important;
        animation-name: flipInX
    }

    @keyframes flipInY {
        0% {
            transform: perspective(400px) rotateY(90deg);
            animation-timing-function: ease-in;
            opacity: 0
        }

        40% {
            transform: perspective(400px) rotateY(-20deg);
            animation-timing-function: ease-in
        }

        60% {
            transform: perspective(400px) rotateY(10deg);
            opacity: 1
        }

        80% {
            transform: perspective(400px) rotateY(-5deg)
        }

        to {
            transform: perspective(400px)
        }
    }

    .flipInY {
        -webkit-backface-visibility: visible !important;
        backface-visibility: visible !important;
        animation-name: flipInY
    }

    @keyframes flipOutX {
        0% {
            transform: perspective(400px)
        }

        30% {
            transform: perspective(400px) rotateX(-20deg);
            opacity: 1
        }

        to {
            transform: perspective(400px) rotateX(90deg);
            opacity: 0
        }
    }

    .flipOutX {
        animation-name: flipOutX;
        -webkit-backface-visibility: visible !important;
        backface-visibility: visible !important
    }

    @keyframes flipOutY {
        0% {
            transform: perspective(400px)
        }

        30% {
            transform: perspective(400px) rotateY(-15deg);
            opacity: 1
        }

        to {
            transform: perspective(400px) rotateY(90deg);
            opacity: 0
        }
    }

    .flipOutY {
        -webkit-backface-visibility: visible !important;
        backface-visibility: visible !important;
        animation-name: flipOutY
    }

    @keyframes lightSpeedIn {
        0% {
            transform: translate3d(100%, 0, 0) skewX(-30deg);
            opacity: 0
        }

        60% {
            transform: skewX(20deg);
            opacity: 1
        }

        80% {
            transform: skewX(-5deg);
            opacity: 1
        }

        to {
            transform: none;
            opacity: 1
        }
    }

    .lightSpeedIn {
        animation-name: lightSpeedIn;
        animation-timing-function: ease-out
    }

    @keyframes lightSpeedOut {
        0% {
            opacity: 1
        }

        to {
            transform: translate3d(100%, 0, 0) skewX(30deg);
            opacity: 0
        }
    }

    .lightSpeedOut {
        animation-name: lightSpeedOut;
        animation-timing-function: ease-in
    }

    @keyframes rotateIn {
        0% {
            transform-origin: center;
            transform: rotate(-200deg);
            opacity: 0
        }

        to {
            transform-origin: center;
            transform: none;
            opacity: 1
        }
    }

    .rotateIn {
        animation-name: rotateIn
    }

    @keyframes rotateInDownLeft {
        0% {
            transform-origin: left bottom;
            transform: rotate(-45deg);
            opacity: 0
        }

        to {
            transform-origin: left bottom;
            transform: none;
            opacity: 1
        }
    }

    .rotateInDownLeft {
        animation-name: rotateInDownLeft
    }

    @keyframes rotateInDownRight {
        0% {
            transform-origin: right bottom;
            transform: rotate(45deg);
            opacity: 0
        }

        to {
            transform-origin: right bottom;
            transform: none;
            opacity: 1
        }
    }

    .rotateInDownRight {
        animation-name: rotateInDownRight
    }

    @keyframes rotateInUpLeft {
        0% {
            transform-origin: left bottom;
            transform: rotate(45deg);
            opacity: 0
        }

        to {
            transform-origin: left bottom;
            transform: none;
            opacity: 1
        }
    }

    .rotateInUpLeft {
        animation-name: rotateInUpLeft
    }

    @keyframes rotateInUpRight {
        0% {
            transform-origin: right bottom;
            transform: rotate(-90deg);
            opacity: 0
        }

        to {
            transform-origin: right bottom;
            transform: none;
            opacity: 1
        }
    }

    .rotateInUpRight {
        animation-name: rotateInUpRight
    }

    @keyframes rotateOut {
        0% {
            transform-origin: center;
            opacity: 1
        }

        to {
            transform-origin: center;
            transform: rotate(200deg);
            opacity: 0
        }
    }

    .rotateOut {
        animation-name: rotateOut
    }

    @keyframes rotateOutDownLeft {
        0% {
            transform-origin: left bottom;
            opacity: 1
        }

        to {
            transform-origin: left bottom;
            transform: rotate(45deg);
            opacity: 0
        }
    }

    .rotateOutDownLeft {
        animation-name: rotateOutDownLeft
    }

    @keyframes rotateOutDownRight {
        0% {
            transform-origin: right bottom;
            opacity: 1
        }

        to {
            transform-origin: right bottom;
            transform: rotate(-45deg);
            opacity: 0
        }
    }

    .rotateOutDownRight {
        animation-name: rotateOutDownRight
    }

    @keyframes rotateOutUpLeft {
        0% {
            transform-origin: left bottom;
            opacity: 1
        }

        to {
            transform-origin: left bottom;
            transform: rotate(-45deg);
            opacity: 0
        }
    }

    .rotateOutUpLeft {
        animation-name: rotateOutUpLeft
    }

    @keyframes rotateOutUpRight {
        0% {
            transform-origin: right bottom;
            opacity: 1
        }

        to {
            transform-origin: right bottom;
            transform: rotate(90deg);
            opacity: 0
        }
    }

    .rotateOutUpRight {
        animation-name: rotateOutUpRight
    }

    @keyframes hinge {
        0% {
            transform-origin: top left;
            animation-timing-function: ease-in-out
        }

        20%,
        60% {
            transform: rotate(80deg);
            transform-origin: top left;
            animation-timing-function: ease-in-out
        }

        40%,
        80% {
            transform: rotate(60deg);
            transform-origin: top left;
            animation-timing-function: ease-in-out;
            opacity: 1
        }

        to {
            transform: translate3d(0, 700px, 0);
            opacity: 0
        }
    }

    .hinge {
        animation-name: hinge
    }

    @keyframes jackInTheBox {
        0% {
            opacity: 0;
            transform: scale(.1) rotate(30deg);
            transform-origin: center bottom
        }

        50% {
            transform: rotate(-10deg)
        }

        70% {
            transform: rotate(3deg)
        }

        to {
            opacity: 1;
            transform: scale(1)
        }
    }

    .jackInTheBox {
        animation-name: jackInTheBox
    }

    @keyframes rollIn {
        0% {
            opacity: 0;
            transform: translate3d(-100%, 0, 0) rotate(-120deg)
        }

        to {
            opacity: 1;
            transform: none
        }
    }

    .rollIn {
        animation-name: rollIn
    }

    @keyframes rollOut {
        0% {
            opacity: 1
        }

        to {
            opacity: 0;
            transform: translate3d(100%, 0, 0) rotate(120deg)
        }
    }

    .rollOut {
        animation-name: rollOut
    }

    @keyframes zoomIn {
        0% {
            transform: scale3d(1.1, 1.1, 1.1)
        }

        100% {
            transform: scale3d(1, 1, 1)
        }
    }

    .zoomIn {
        animation-name: zoomIn
    }

    @keyframes zoomInDown {
        0% {
            opacity: 0;
            transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
            animation-timing-function: cubic-bezier(.55, .055, .675, .19)
        }

        60% {
            opacity: 1;
            transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
            animation-timing-function: cubic-bezier(.175, .885, .32, 1)
        }
    }

    .zoomInDown {
        animation-name: zoomInDown
    }

    @keyframes zoomInLeft {
        0% {
            opacity: 0;
            transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
            animation-timing-function: cubic-bezier(.55, .055, .675, .19)
        }

        60% {
            opacity: 1;
            transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
            animation-timing-function: cubic-bezier(.175, .885, .32, 1)
        }
    }

    .zoomInLeft {
        animation-name: zoomInLeft
    }

    @keyframes zoomInRight {
        0% {
            opacity: 0;
            transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
            animation-timing-function: cubic-bezier(.55, .055, .675, .19)
        }

        60% {
            opacity: 1;
            transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
            animation-timing-function: cubic-bezier(.175, .885, .32, 1)
        }
    }

    .zoomInRight {
        animation-name: zoomInRight
    }

    @keyframes zoomInUp {
        0% {
            opacity: 0;
            transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
            animation-timing-function: cubic-bezier(.55, .055, .675, .19)
        }

        60% {
            opacity: 1;
            transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
            animation-timing-function: cubic-bezier(.175, .885, .32, 1)
        }
    }

    .zoomInUp {
        animation-name: zoomInUp
    }

    @keyframes zoomOut {
        0% {
            opacity: 1
        }

        50% {
            opacity: 0;
            transform: scale3d(.3, .3, .3)
        }

        to {
            opacity: 0
        }
    }

    .zoomOut {
        animation-name: zoomOut
    }

    @keyframes zoomOutDown {
        40% {
            opacity: 1;
            transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
            animation-timing-function: cubic-bezier(.55, .055, .675, .19)
        }

        to {
            opacity: 0;
            transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
            transform-origin: center bottom;
            animation-timing-function: cubic-bezier(.175, .885, .32, 1)
        }
    }

    .zoomOutDown {
        animation-name: zoomOutDown
    }

    @keyframes zoomOutLeft {
        40% {
            opacity: 1;
            transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0)
        }

        to {
            opacity: 0;
            transform: scale(.1) translate3d(-2000px, 0, 0);
            transform-origin: left center
        }
    }

    .zoomOutLeft {
        animation-name: zoomOutLeft
    }

    @keyframes zoomOutRight {
        40% {
            opacity: 1;
            transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0)
        }

        to {
            opacity: 0;
            transform: scale(.1) translate3d(2000px, 0, 0);
            transform-origin: right center
        }
    }

    .zoomOutRight {
        animation-name: zoomOutRight
    }

    @keyframes zoomOutUp {
        40% {
            opacity: 1;
            transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
            animation-timing-function: cubic-bezier(.55, .055, .675, .19)
        }

        to {
            opacity: 0;
            transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
            transform-origin: center bottom;
            animation-timing-function: cubic-bezier(.175, .885, .32, 1)
        }
    }

    .zoomOutUp {
        animation-name: zoomOutUp
    }

    @keyframes slideInDown {
        0% {
            transform: translate3d(0, -100%, 0);
            visibility: visible
        }

        to {
            transform: translateZ(0)
        }
    }

    .slideInDown {
        animation-name: slideInDown
    }

    @keyframes slideInLeft {
        0% {
            transform: translate3d(-100%, 0, 0);
            visibility: visible
        }

        to {
            transform: translateZ(0)
        }
    }

    .slideInLeft {
        animation-name: slideInLeft
    }

    @keyframes slideInRight {
        0% {
            transform: translate3d(100%, 0, 0);
            visibility: visible
        }

        to {
            transform: translateZ(0)
        }
    }

    .slideInRight {
        animation-name: slideInRight
    }

    @keyframes slideInUp {
        0% {
            transform: translate3d(0, 100%, 0);
            visibility: visible
        }

        to {
            transform: translateZ(0)
        }
    }

    .slideInUp {
        animation-name: slideInUp
    }

    @keyframes slideOutDown {
        0% {
            transform: translateZ(0)
        }

        to {
            visibility: hidden;
            transform: translate3d(0, 100%, 0)
        }
    }

    .slideOutDown {
        animation-name: slideOutDown
    }

    @keyframes slideOutLeft {
        0% {
            transform: translateZ(0)
        }

        to {
            visibility: hidden;
            transform: translate3d(-100%, 0, 0)
        }
    }

    .slideOutLeft {
        animation-name: slideOutLeft
    }

    @keyframes slideOutRight {
        0% {
            transform: translateZ(0)
        }

        to {
            visibility: hidden;
            transform: translate3d(100%, 0, 0)
        }
    }

    .slideOutRight {
        animation-name: slideOutRight
    }

    @keyframes slideOutUp {
        0% {
            transform: translateZ(0)
        }

        to {
            visibility: hidden;
            transform: translate3d(0, -100%, 0)
        }
    }

    .slideOutUp {
        animation-name: slideOutUp
    }
}

.top-line {
    transform: translateY(-0.42rem);
}

.bottom-line {
    transform: translateY(0.42rem);
}

@-webkit-keyframes bullet-ring {
    0% {
        stroke-dashoffset: 75;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes bullet-ring {
    0% {
        stroke-dashoffset: 75;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.swiper-pagination-bullet {
    opacity: 1;
    background: none;
}

.swiper-pagination-bullet-active span {
    --tw-text-opacity: 1;
    color: rgb(36 22 11 / var(--tw-text-opacity));
}

.swiper-pagination-bullet-active svg {
    opacity: 1;
    transform: rotate(-90deg);
    transition: opacity 0.1s;
}

.swiper-pagination-bullet-active circle:nth-child(2) {
    -webkit-animation: bullet-ring;
    animation: bullet-ring;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

#roadmap ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.rotating-bullet.active svg {
    opacity: 100%;
}

.rotating-bullet.active span {
    color: black;
}

.mySwiper2 .swiper-pagination-bullet, .mySwiper7 .swiper-pagination-bullet {
    height: 32px;
}

.eapps-countdown-timer {
    -webkit-font-smoothing: antialiased;
    display: -webkit-flex;
    display: flex;
    transition: all 0.3s ease;
    z-index: 2;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.eapps-countdown-timer div:not(.eapps-countdown-timer-item-value-flap):empty {
    display: block;
}

.eapps-countdown-timer-has-background {
    padding: 16px 0;
}

@media screen and (min-width: 600px) {
    .eapps-countdown-timer-has-background {
        padding: 16px;
    }
}

.eapps-countdown-timer * {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.eapps-countdown-timer-container {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.eapps-countdown-timer-inner {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.eapps-countdown-timer-area-clickable .eapps-countdown-timer-inner {
    cursor: pointer;
}

a.eapps-countdown-timer-inner {
    text-decoration: none;
}

.eapps-countdown-timer-header {
    text-align: center;
}

.eapps-countdown-timer-align-left .eapps-countdown-timer-header {
    text-align: left;
}

.eapps-countdown-timer-align-right .eapps-countdown-timer-header {
    text-align: right;
}

.eapps-countdown-timer-align-center .eapps-countdown-timer-header {
    text-align: center;
}

.eapps-countdown-timer-header-title {
    color: currentColor;
    font-size: 28px;
    line-height: 1.4;
}

.eapps-countdown-timer-item {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.eapps-countdown-timer-align-left .eapps-countdown-timer-item {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.eapps-countdown-timer-align-right .eapps-countdown-timer-item {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.eapps-countdown-timer-align-center .eapps-countdown-timer-item {
    -webkit-justify-content: center;
    justify-content: center;
}

.eapps-countdown-timer-item-group {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 0 24px;
}

.eapps-countdown-timer-item-group-inner {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
}

.eapps-countdown-timer-item-group-label {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    color: currentColor;
    font-size: 14px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.eapps-countdown-timer-hide-days .eapps-countdown-timer-item-group-days {
    display: none;
}

.eapps-countdown-timer-hide-hours .eapps-countdown-timer-item-group-hours {
    display: none;
}

.eapps-countdown-timer-hide-minutes .eapps-countdown-timer-item-group-minutes {
    display: none;
}

.eapps-countdown-timer-hide-seconds .eapps-countdown-timer-item-group-seconds {
    display: none;
}

.eapps-countdown-timer-480 .eapps-countdown-timer-item-group {
    margin: 0 6px !important;
}

.eapps-countdown-timer-360 .eapps-countdown-timer-item-group {
    margin: 0 4px !important;
}

.eapps-countdown-timer-280 .eapps-countdown-timer-item-group {
    margin: 0 2px !important;
}

.eapps-countdown-timer-item-value {
    color: currentColor;
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    -webkit-perspective: 3.2em;
    perspective: 3.2em;
    min-width: 1.125em;
    text-align: center;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}

.eapps-countdown-timer-480 .eapps-countdown-timer-item-value {
    font-size: 30px !important;
    line-height: 30px !important;
}

.eapps-countdown-timer-360 .eapps-countdown-timer-item-value {
    font-size: 20px !important;
    line-height: 20px !important;
}

.eapps-countdown-timer-280 .eapps-countdown-timer-item-value {
    font-size: 13px !important;
    line-height: 16px !important;
}

.eapps-countdown-timer-item-counter {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.eapps-countdown-timer-align-left .eapps-countdown-timer-item-counter {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.eapps-countdown-timer-align-right .eapps-countdown-timer-item-counter {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.eapps-countdown-timer-align-center .eapps-countdown-timer-item-counter {
    -webkit-justify-content: center;
    justify-content: center;
}

.eapps-countdown-timer-item-counter-item {
    position: relative;
    margin: 0 2px;
}

.eapps-countdown-timer-item-counter-item .eapps-countdown-timer-value {
    padding: 6px 14px !important;
}

.eapps-countdown-timer-button {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 6px;
    transition: 0.3s ease all;
    font-weight: 700;
    white-space: nowrap;
}

.eapps-countdown-timer-button:hover {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
}

.eapps-countdown-timer-button-stop {
    display: none;
}

.eapps-countdown-timer-button-container {
    display: -webkit-flex;
    display: flex;
    margin-top: 30px;
    -webkit-justify-content: center;
    justify-content: center;
}

.eapps-countdown-timer-align-left .eapps-countdown-timer-button-container {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.eapps-countdown-timer-align-right .eapps-countdown-timer-button-container {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.eapps-countdown-timer-align-center .eapps-countdown-timer-button-container {
    -webkit-justify-content: center;
    justify-content: center;
}

.eapps-countdown-timer-finish-redirect,
.eapps-countdown-timer-finish-hide {
    display: none;
}

.eapps-countdown-timer-finish-counters-hide .eapps-countdown-timer-item {
    display: none;
}

.eapps-countdown-timer-header-finish-message {
    color: currentColor;
    height: 100%;
    -webkit-align-items: center;
    align-items: center;
    display: none;
}

.eapps-countdown-timer-finish-message .eapps-countdown-timer-header-finish-message {
    display: block;
}

.eapps-countdown-timer-finish .eapps-countdown-timer-header-title-text {
    display: none !important;
}

.eapps-countdown-timer-finish .eapps-countdown-timer-button {
    display: none;
}

.eapps-countdown-timer-finish-message.eapps-countdown-timer-finish-button-show .eapps-countdown-timer-button-stop {
    display: block;
}

.eapps-countdown-timer-finish-message.eapps-countdown-timer-finish-button-hide .eapps-countdown-timer-button-stop {
    display: block;
}

.eapps-countdown-timer-position-bar {
    width: 100%;
    height: 60px;
    background: #fff;
    padding: 6px 60px 6px 30px;
    box-sizing: border-box;
    z-index: 99999;
}

.eapps-countdown-timer-640.eapps-countdown-timer-position-bar {
    padding-right: 28px;
    padding-left: 14px;
    height: 56px;
}

.eapps-countdown-timer-480.eapps-countdown-timer-position-bar {
    height: auto;
    padding-right: 14px;
    padding-left: 0;
}

.eapps-countdown-timer-position-bar .eapps-countdown-timer-inner {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    outline: 0;
}

.eapps-countdown-timer-480.eapps-countdown-timer-position-bar .eapps-countdown-timer-inner {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.eapps-countdown-timer-position-bar .eapps-countdown-timer-header {
    text-align: left;
}

.eapps-countdown-timer-480.eapps-countdown-timer-position-bar .eapps-countdown-timer-header {
    margin-bottom: 4px;
}

.eapps-countdown-timer-position-bar .eapps-countdown-timer-header-title {
    font-size: 18px;
    line-height: 24px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.eapps-countdown-timer-640.eapps-countdown-timer-position-bar .eapps-countdown-timer-header-title {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
}

.eapps-countdown-timer-position-bar .eapps-countdown-timer-header-title-text {
    display: -webkit-box;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 2.9em;
}

.eapps-countdown-timer-480.eapps-countdown-timer-position-bar .eapps-countdown-timer-header-title-text {
    text-align: center;
}

.eapps-countdown-timer-position-bar .eapps-countdown-timer-item {
    margin: 4px 20px 0 20px;
}

.eapps-countdown-timer-480.eapps-countdown-timer-position-bar .eapps-countdown-timer-item {
    -webkit-flex-direction: row;
    flex-direction: row;
    margin: 0;
}

.eapps-countdown-timer-position-bar .eapps-countdown-timer-item-container {
    margin-top: 0 !important;
}

.eapps-countdown-timer-position-bar .eapps-countdown-timer-item-group {
    margin: 0 6px !important;
}

.eapps-countdown-timer-640.eapps-countdown-timer-position-bar .eapps-countdown-timer-item-group {
    margin-right: 4px !important;
}

.eapps-countdown-timer-480.eapps-countdown-timer-position-bar .eapps-countdown-timer-item-group {
    margin: 0 2px !important;
}

.eapps-countdown-timer-position-bar .eapps-countdown-timer-item-group-label {
    font-size: 11px;
    margin-top: 2px;
}

.eapps-countdown-timer-640.eapps-countdown-timer-position-bar .eapps-countdown-timer-item-group-label {
    font-size: 9px !important;
}

.eapps-countdown-timer-position-bar .eapps-countdown-timer-item-value {
    font-size: 18px !important;
    line-height: 20px !important;
}

.eapps-countdown-timer-480.eapps-countdown-timer-position-bar .eapps-countdown-timer-item-value {
    font-size: 13px !important;
    line-height: 16px !important;
}

.eapps-countdown-timer-position-bar .eapps-countdown-timer-item-counter {
    margin-top: 0;
    margin-left: 40px;
}

.eapps-countdown-timer-position-bar .eapps-countdown-timer-button {
    font-size: 13px;
    font-weight: 700;
    line-height: 15.3px;
    padding: 8px 24px;
}

.eapps-countdown-timer-position-bar .eapps-countdown-timer-button-container {
    margin-top: 0 !important;
}

.eapps-countdown-timer-640.eapps-countdown-timer-position-bar .eapps-countdown-timer-button-container {
    display: none;
    margin-left: none;
}

.eapps-countdown-timer-position-top-bar-static.eapps-countdown-timer-hidden {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.eapps-countdown-timer-position-top-bar-floating {
    position: fixed !important;
    top: 0;
}

.eapps-countdown-timer-position-top-bar-floating.eapps-countdown-timer-hidden {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.eapps-countdown-timer-position-bottom-bar-floating {
    position: fixed !important;
    bottom: 0;
}

.eapps-countdown-timer-position-bottom-bar-floating.eapps-countdown-timer-hidden {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.eapps-countdown-timer.eapps-countdown-timer-closed {
    display: none;
}

.eapps-countdown-timer-bar-close {
    color: #fff;
    width: 26px;
    height: 26px;
    position: absolute;
    right: 17px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    opacity: 0.8;
}

.eapps-countdown-timer-480 .eapps-countdown-timer-bar-close {
    top: 4px;
    right: 4px;
    -webkit-transform: none;
    transform: none;
}

.eapps-countdown-timer-bar-close:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.2);
}

.eapps-countdown-timer-bar-close:before,
.eapps-countdown-timer-bar-close:after {
    content: '';
    width: 15px;
    height: 1px;
    background: currentColor;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.eapps-countdown-timer-bar-close:before {
    -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
    transform: translate(-50%, -50%) rotateZ(45deg);
}

.eapps-countdown-timer-bar-close:after {
    -webkit-transform: translate(-50%, -50%) rotateZ(-45deg);
    transform: translate(-50%, -50%) rotateZ(-45deg);
}

.eapps-countdown-timer-style-blocks .eapps-countdown-timer-item-group {
    margin: 0 12px;
}

.eapps-countdown-timer-style-blocks .eapps-countdown-timer-item-group-inner {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    direction: ltr !important;
}

.eapps-countdown-timer-style-blocks .eapps-countdown-timer-item-group-inner>div {
    margin: 0 2px;
}

.eapps-countdown-timer-style-blocks .eapps-countdown-timer-item-value {
    position: relative;
    background-color: currentColor;
    text-align: center;
    box-sizing: border-box;
    padding: 6px 12px;
    transition: 0.3s ease all;
    border-radius: 6px;
}

.eapps-countdown-timer-style-blocks .eapps-countdown-timer-item-value-base {
    display: -webkit-inline-flex;
    display: inline-flex;
    color: currentColor;
}

.eapps-countdown-timer-style-default .eapps-countdown-timer-item-value {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.eapps-countdown-timer-style-gradient .eapps-countdown-timer-item-value:before {
    content: '';
    top: 50%;
    position: absolute;
    height: 50%;
    background: linear-gradient(to top, rgba(39, 39, 39, 0) 0%, rgba(0, 0, 255, 0.3) 100%);
    z-index: 3;
    width: 100%;
    left: 0;
    border-radius: 0 0 6px 6px;
}

.eapps-countdown-timer-style-gradient .eapps-countdown-timer-item-value:after {
    content: '';
    top: 0;
    position: absolute;
    height: 50%;
    background: linear-gradient(to top, rgba(39, 39, 39, 0) 0%, rgba(0, 0, 255, 0.3) 100%);
    z-index: 3;
    width: 100%;
    left: 0;
    border-radius: 6px 6px 0 0;
}

.eapps-countdown-timer-style-dashed .eapps-countdown-timer-item-value:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    height: 2px;
    width: 100%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 3;
}

.eapps-countdown-timer-style-dashed.eapps-countdown-timer-style-outline .eapps-countdown-timer-item-group-inner,
.eapps-countdown-timer-style-dashed.eapps-countdown-timer-style-combined .eapps-countdown-timer-item-group-inner {
    position: relative;
}

.eapps-countdown-timer-style-dashed.eapps-countdown-timer-style-outline .eapps-countdown-timer-item-group-inner:before,
.eapps-countdown-timer-style-dashed.eapps-countdown-timer-style-combined .eapps-countdown-timer-item-group-inner:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    height: 1px;
    width: 100%;
    left: 0;
    z-index: 3;
}

.eapps-countdown-timer-style-outline .eapps-countdown-timer-item-group {
    margin-right: 0 10px;
}

.eapps-countdown-timer-style-outline .eapps-countdown-timer-item-group-inner {
    padding: 6px 14px;
    border-radius: 6px;
    border: 1px solid currentColor;
}

.eapps-countdown-timer-style-outline .eapps-countdown-timer-item-counter-item .eapps-countdown-timer-item-value {
    padding: 6px 14px;
    border-radius: 6px;
    border: 1px solid currentColor;
}

.eapps-countdown-timer-style-outline.eapps-countdown-timer-style-blocks .eapps-countdown-timer-item-group-inner {
    padding: 0;
}

.eapps-countdown-timer-style-outline.eapps-countdown-timer-style-dashed .eapps-countdown-timer-item-value:before {
    display: none;
}

.eapps-countdown-timer-style-combined .eapps-countdown-timer-item-group-inner {
    border-radius: 6px;
}

.eapps-countdown-timer-animation-slide .eapps-countdown-timer-item-value {
    overflow: hidden;
}

.eapps-countdown-timer-animation-slide .eapps-countdown-timer-item-value-animate .eapps-countdown-timer-item-value-base {
    top: -80px;
    transition: all 0s ease;
}

.eapps-countdown-timer-animation-slide .eapps-countdown-timer-item-value-animate .eapps-countdown-timer-item-value-base-copy {
    top: 50%;
    transition: all 0s ease;
}

.eapps-countdown-timer-animation-slide .eapps-countdown-timer-item-value-base {
    transition: all 0.3s ease;
    display: block;
    position: relative;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.eapps-countdown-timer-animation-slide .eapps-countdown-timer-item-value-base-copy {
    transition: all 0.3s ease;
    position: absolute;
    top: 200%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.eapps-countdown-timer-animation-fade .eapps-countdown-timer-item-value {
    overflow: hidden;
}

.eapps-countdown-timer-animation-fade .eapps-countdown-timer-item-value-animate .eapps-countdown-timer-item-value-base {
    opacity: 0;
}

.eapps-countdown-timer-animation-fade .eapps-countdown-timer-item-value-animate .eapps-countdown-timer-item-value-base-copy {
    opacity: 1;
}

.eapps-countdown-timer-animation-fade .eapps-countdown-timer-item-value-base {
    transition: all 0.1s ease-in;
    display: block;
    position: relative;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.eapps-countdown-timer-animation-fade .eapps-countdown-timer-item-value-base-copy {
    transition: all 0.1s ease-in;
    position: absolute;
    margin-top: 6px;
    margin-left: 12px;
    opacity: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.eapps-countdown-timer-animation-flip .eapps-countdown-timer-item-value-flap {
    display: none;
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: currentColor;
    left: 0;
    top: 0;
    border-radius: 6px 6px 0 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.eapps-countdown-timer-animation-flip .eapps-countdown-timer-item-value-flap:before {
    content: attr(data-content);
    position: absolute;
    left: 50%;
}

.eapps-countdown-timer-animation-flip .eapps-countdown-timer-item-value-flap.eapps-countdown-timer-item-value-flap-front:before,
.eapps-countdown-timer-animation-flip .eapps-countdown-timer-item-value-flap.eapps-countdown-timer-item-value-flap-under:before {
    top: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.eapps-countdown-timer-animation-flip .eapps-countdown-timer-item-value-flap.eapps-countdown-timer-item-value-flap-back {
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
    transform: rotateY(180deg) translate3d(0, 0, 0);
}

.eapps-countdown-timer-animation-flip .eapps-countdown-timer-item-value-flap.eapps-countdown-timer-item-value-flap-back:before {
    top: 100%;
    -webkit-transform: translate(-50%, -50%) rotateZ(180deg);
    transform: translate(-50%, -50%) rotateZ(180deg);
}

.eapps-countdown-timer-animation-flip .eapps-countdown-timer-item-value-flap.eapps-countdown-timer-item-value-flap-over {
    z-index: 2;
}

.eapps-countdown-timer-animation-flip .eapps-countdown-timer-item-value-flap.eapps-countdown-timer-item-value-flap-under {
    z-index: 1;
}

#eapps-countdown-timer-1.eapps-countdown-timer,
#eapps-countdown-timer-1 .eapps-countdown-timer-inner {
    color: #f2efe8;
}

#eapps-countdown-timer-1.eapps-countdown-timer-style-blocks .eapps-countdown-timer-item-value {
    background-color: #f2efe8;
}

#eapps-countdown-timer-1.eapps-countdown-timer-style-outline.eapps-countdown-timer-style-blocks .eapps-countdown-timer-item-value,
#eapps-countdown-timer-1.eapps-countdown-timer-style-outline.eapps-countdown-timer-style-blocks .eapps-countdown-timer-item-value .eapps-countdown-timer-item-value-base {
    background-color: transparent;
    color: #f2efe8;
}

#eapps-countdown-timer-1 .eapps-countdown-timer-item-value-flap-front {
    animation: eapps-countdown-timer-1-flip-down-front 500ms ease-out both;
}

#eapps-countdown-timer-1 .eapps-countdown-timer-item-value-flap-back {
    animation: eapps-countdown-timer-1-flip-down-back 500ms ease-out both;
}

#eapps-countdown-timer-1 .eapps-countdown-timer-item-value-flap-under {
    animation: eapps-countdown-timer-1-fade-under 500ms ease-out both;
}

#eapps-countdown-timer-1.eapps-countdown-timer-style-blocks .eapps-countdown-timer-item-value {
    color: #fff;
}

#eapps-countdown-timer-1.eapps-countdown-timer-style-gradient .eapps-countdown-timer-item-value:before,
#eapps-countdown-timer-1.eapps-countdown-timer-style-gradient .eapps-countdown-timer-item-value:after {
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(242, 239, 232, 0.3) 100%);
}

#eapps-countdown-timer-1.eapps-countdown-timer-style-outline .eapps-countdown-timer-item-group-inner {
    border-color: rgba(242, 239, 232, 0.3)
}

#eapps-countdown-timer-1.eapps-countdown-timer-style-outline.eapps-countdown-timer-style-dashed .eapps-countdown-timer-item-group-inner:before {
    background-color: rgba(242, 239, 232, 0.3);
}

#eapps-countdown-timer-1 .eapps-countdown-timer-header-title,
#eapps-countdown-timer-1 .eapps-countdown-timer-bar-close {
    color: rgb(0, 0, 0);
}

.faq-container.active .faq-button {
    transform: rotate(-90deg);
}